
html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-evenly;
}

.menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;

  &:before,
  &:after {
    content: "";
    height: 2px;
    background-color: black;
  }
}

.menu-button span {
  height: 2px;
  background-color: black;
}

#menu-toggle {
  display: none;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;

}


@media screen and (max-width: 521px) {
  .menu {
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    align-items: center;
    gap: 5px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    height: 0;
  }
  .menu-button {
    display: flex;
  }
  .top-nav {
    justify-content: space-between;
    padding: 0 15px;
  }
  .menu > li {
    width: 100%;
    text-align: center;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
    padding-bottom: 10px;
  }
  #menu-toggle:checked ~ .menu {
    height: auto;
    padding: 5px;
  }
  #menu-toggle:checked + .menu-button span {
background-color: white;
  }
}