.wrapper {
  padding: 20px;
  display: flex;
  font-family: "Open Sans", sans-serif;
}

* * {
  border-radius: 3px;
  user-select: none;
  text-shadow: 1px 1px 5px rgba(138, 137, 137, 0.34);
}

.navigation {
  box-shadow: 2px 2px 20px rgba(208, 207, 207, 0.4), -2px -2px 20px rgba(208, 207, 207, 0.4);
}

.menu {
  flex-basis: 400px;
  height: 80vh;
  background: rgba(229, 227, 227, 0.37);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.menu__top {
  flex: 1 1;
}
.menu__item {
  display: flex;
}
.menu__title {
  font-size: 22px;
}
.nav {
  justify-content: space-between;
}

[class*=icon] {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search {
  gap: 5px;
  align-items: center;
}
.search__input {
  flex: 1 1;
  padding: 0 10px;
  border: none;
  outline: none;
  background: inherit;
}

.tasks__name {
  flex: 1 1;
}
.lists__icon {
  width: 15px;
  height: 15px;
  background-color: rgba(156, 156, 229, 0.73);
  border-radius: 3px;
}
.lists__name {
  flex: 1 1;
}
.tags__list {
  display: flex;
}
.tags, .lists, .tasks {
  flex-direction: column;
}
.tags__title, .lists__title, .tasks__title {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 16px;
}

.render {
  width: 100%;
  flex: 1 1;
}

[class*=list] > [class*=item] {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

[class*=list] > [class*=item]:hover {
  background-color: rgba(173, 170, 170, 0.49);
  transition: background-color 0.2s;
}

.menu__item + .menu__item {
  margin-top: 15px;
}

.tasks__item--active,
.lists__item--active {
  background-color: rgba(203, 199, 199, 0.68);
  border-radius: 8px;
}

[class*=quantity] {
  padding: 5px;
  border-radius: 7px;
  font-size: 14px;
  background-color: rgba(168, 167, 167, 0.29);
}

.menu__bottom {
  display: flex;
  padding: 20px 15px;
  background: rgba(229, 227, 227, 0.84);
}

.menu-ui__item {
  gap: 20px;
}
.render {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.render__info {
  flex-basis: 150px;
}
.render__rend {
  margin-left: 30px;
}
.render__rend:before {
  content: "";
  width: 2px;
  background-color: rgba(220, 218, 218, 0.35);
  position: absolute;
  height: 100%;
  box-shadow: rgba(180, 178, 178, 0.51) -2px 2px 4px;
  transform: translateX(-1000%);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.info__title {
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
}
.add_sticky {
  width: 400px;
  height: 300px;
  background: rgba(229, 227, 227, 0.84);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgba(208, 207, 207, 0.4), -2px -2px 20px rgba(208, 207, 207, 0.4);
  border: none;
  outline: none;
}

.add_sticky:hover {
  background: rgba(229, 227, 227, 0.7);
  transition: all 0.3s;
  border-radius: 25px;
  box-shadow: 2px 2px 24px rgba(208, 207, 207, 0.7), -2px -2px 24px rgba(208, 207, 207, 0.7);
}

.add_stick {
  transform: scale(2.9);
}

.render__rend {
  height: 100%;
}

.sticky {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.sticky__title {
  display: block;
  flex-basis: 15%;
  position: relative;
}
.sticky__title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 300px;
  height: 1px;
  background-color: black;
  bottom: 0;
}
.sticky__title, .sticky__text {
  width: 100%;
  display: block;
  border: none;
  outline: none;
}
.sticky__text {
  flex: 1 1 auto;
}

/*# sourceMappingURL=style.css.map */
