$Inter: "Inter", sans-serif;
$Raleway: "Raleway", sans-serif;
$Rubik: "Rubik", sans-serif;
$accent-color: #ec5863;
$accent-color-2: #4285f4;

body {
  font-family: $Rubik;
  font-size: 25px;
  color: #616161;
  background: #fafbfd;
  line-height: 1;
}

.conteiner {
  max-width: 1087px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.header {
  display: flex;
  min-height: 151px;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  font-family: $Raleway;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
}



.logo-img {
}

.header__menu {
  flex: 1 1 auto;
  margin-right: 40px;
  margin-left: 20px;
}


.menu__list {
}

.menu__items {
  justify-content: end;
  display: flex;
  gap: 64px;
}

.menu__item {
}

.menu__link {
  line-height: 1.2;
}
.header__logo{
  background: url("../images/logo.svg");
  width: 140px;
  height: 40px;
}
.header__button {
  flex: 0 0 281px;
  justify-content: end;
  display: flex;
}

.btn {
  color: #fff;
  border-radius: 5px;
  background-color: $accent-color;
  letter-spacing: 0.14em;
  outline: none;
  border: none;
  cursor: pointer;
}

.header-btn {
  background-color: $accent-color-2;
  padding: 17px 28px 18px;
}

.button-link {
}

// PC
@media screen and (max-width: 1087px) {
  .conteiner {
    max-width: 970px;
  }
}

// Tablet
@media screen and (max-width: 991.98px) {
  .conteiner {
    max-width: 750px;
  }
  .header__button {
    flex-basis: 150px;
  }
  .menu__items {
    gap: 20px;
    justify-content: center;
  }
}

// Mobile


/*
.icon-menu {
  flex: 0 0 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-between;

  &:before,
  &:after {
    content: "";
    background-color: #000;
    height: 2px;
    width: 30px;
  }
}

.icon-menu span {
  background-color: #000;
  height: 2px;
}
*/
@media screen and (max-width: 714px) {
  .header__logo{
    flex: 0 0 40px;
    overflow: hidden;
  }
  .header{
    justify-content: space-between;
  }
}
@media screen and (max-width: 529.98px) {
  .menu__body{
    position: absolute;
    background-color: #4285f4;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 60px;
    font-size: 24px;
    color: rgba(243, 243, 243, 0.77);
  }
  .menu__items{
    flex-direction: column;

  }
}