$Inter: "Inter", sans-serif;
$Raleway: "Raleway", sans-serif;
$Rubik: "Rubik", sans-serif;
$accent-color: #ec5863;
$accent-color-2: #4285f4;

body {
  font-family: $Rubik;
  font-size: 25px;
  color: #616161;
  background: #fafbfd;
  line-height: 1;

}

* * {
  transition: all .3s;
}

.conteiner {
  max-width: 1087px;
  margin: 0 auto;
  position: relative;

}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.header {
  display: flex;
  min-height: 151px;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  font-family: $Raleway;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
}


.logo-img {
}

.header__menu {
  flex: 1 1 auto;
  margin-right: 40px;
  margin-left: 20px;
}


.menu__list {
}

.menu__items {
  justify-content: end;
  display: flex;
  gap: 64px;
}

.menu__item {
  &:hover{
    transform: scale(1.1);
  }
}

.menu__link {
  line-height: 1.2;
}

.header__logo {
  background: url("../images/logo.svg");
  width: 140px;
  height: 40px;
}

.header__button {
  flex: 0 0 281px;
  justify-content: end;
  display: flex;
}

.btn {
  color: #fff;
  border-radius: 5px;
  background-color: $accent-color;
  letter-spacing: 0.14em;
  outline: none;
  border: none;
  cursor: pointer;
}

.header-btn {
  background-color: $accent-color-2;
  padding: 17px 28px 18px;
  &:hover{
    background-color: rgb(112, 163, 248);
  }
}
.header-box{
  position:relative;
  &::before{
    content: "";
    top: 0;
    right: 0;
    background-color:$accent-color;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
    border-radius: 30px 0px 0px 30px;
    transform: translateX(71%);


  }
}

.button-link {
}

#menu-check {
  display: none;
}

/*_++++++++++++++++++++++++_+_++++++++++++++++++===========================*/
.main-box{
  padding: 150px 0 10px 0;
}

.main-body {
  color: #000;
  display: flex;
  padding-bottom: 40px;
  gap: 20px;
}
.main-top{
}
.main-title{

}
.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  font-family: $Rubik;
}
.main-text {
  flex: 0 1 48%;
  align-self: center;
  padding-left: 85px;
}
.main-image{
  flex: 0 1 52%;
}
.title-blue span{
  color: $accent-color-2;
}
.title-pink span{
  color: $accent-color;
}
.main-subtitle {
  margin: 25px 0;
  max-width: 376px;
}
.block-text{
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  font-family: $Raleway;
  letter-spacing: 0.08em;
}
.main-button {
  background-color: $accent-color;
  padding: 18px 42px;
  &:hover{
    background-color: #fb858e;
  }

}
.btn {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  font-family: $Raleway;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
.main-media {
  display: flex;
  gap: 18px;
  align-items: center;
  padding-left: 85px;
}
.media__image {
  
}
.media-icon {
  flex: 0 0 44px;
  &:hover{
    transform: scale(1.1);
  }
}
.media-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;

}
.media-autor {
  color: #B0B0B0;
}



@import "media";