.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  row-gap: 30px;
  grid-template-rows: auto;

}

.box {
  max-width: 400px;
  min-width: 350px;
  height: 700px;
  margin-right: 20px;
  background-image: linear-gradient(to bottom left,#436434,#9745);
  );
  border-radius: 15px;
}

.grid-item {

}