.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.grid-layout {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
}

.box {
  max-width: 400px;
  min-width: 350px;
  height: 700px;
  margin-right: 20px;
  background-image: linear-gradient(to bottom left,#3453, rgba(124, 81, 17, 0.63));
  border-radius: 15px;
}

.grid-item {

}