/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */

.wrapper {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   overflow: hidden;
}

.header {
   max-height: 100vh;
   max-width: 100vw;
}

.conteiner {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.header-top {
   min-height: 80px;
   height: 100%;
   display: flex;
   align-items: center;
}

.header {
   &__logo {
      margin-right: 252px;
   }

   &__menu {
      line-height: 14px;
      font-size: 13px;
      color: #444444;
   }

   &__buttons {
      display: flex;
      gap: 20px;
      margin-left: 40px;
   }
}

.menu {
   &__list {
      display: flex;
   }

   &__item {
      &:hover {
         transform: scale(1.1);
      }
   }

   &__item:not(:last-child) {
      margin-left: 28px;
   }

   &__item:last-child {
      margin-left: 34px;
   }
}

.btn {
   font-size: 16px;
   line-height: 22px;
   background-color: #575445;
   border-radius: 6px;
   color: #fff;
   padding: 10px 18px;

   &:hover {
      background-color: #84837d;
   }
}

.button-cart {
   display: flex;
   gap: 8px;
   padding: 13px 18px;

   &__count {
      max-width: 20px;
      max-height: 18px;
      border-radius: 50%;
      color: #575445;
      background-color: #fff;
      padding: 0 6px;
      text-align: center;
      font-size: 11px;
      line-height: 18px;
   }
}

/*++++++++++++++++++++======================================*/
.header-inner-box {
   background-image: url("../images/header-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.header-inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: calc(100vh - 80px);
   width: 100vw;

   &__suptitle {
   }

   &__title {
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      margin-bottom: 9px;
      max-width: 416px;
   }

   &__text {
      font-size: 17px;
      line-height: 25px;
      color: #caccd1;
      max-width: 495px;
   }
}

/*=========================================*/
.suptitle {
   line-height: 20px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #e6b939;
}

.title {
   margin-bottom: 9px;
   font-size: 36px;
   line-height: 43px;
   color: #575445;
   font-family: "Roboto", sans-serif;
}

.text {
   font-size: 16px;
   line-height: 19px;
   color: #575445;
}

/*///////////////////////////////////////*/

.about-box {
}

.conteiner {
}

.about {
   min-height: 776px;
   display: flex;
   align-items: center;

   &__suptitle {
   }

   &__title {
   }

   &__text {
   }
}

.about-image {
   flex: 1 1 50%;
   position: relative;

   &:before,
   &:after {
      content: "";
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      width: 250px;
      height: 256px;
      background-image: url("../images/about/about-decor.svg");
   }

   &:before {
      top: -123px;
      right: -100px;
      z-index: 1;
   }

   &:after {
      left: -123px;
      bottom: -131px;
      z-index: -1;
      // transform: translateX(80%) translateY(10%);
   }
}

.about-img {
}

.about-text {
   flex: 1 0 50%;
   padding-left: 104px;
}

.suptitle {
}

.about-info {
   margin-top: 20px;
   display: flex;
   gap: 4px;
}

.about-info-text {
}

.about-arrow-img {
}

/*============================================*/

.spec-box {
   background-color: #fafafc;
   position: relative;

   &:before,
   &:after {
      content: "";
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      z-index: 3;
   }

   &:before {
      background-image: url("../images/spec/spec-decor-top.svg");
      top: 0;
      right: 0;
      width: 470px;
      height: 423px;
   }

   &:after {
      background-image: url("../images/spec/spec-decor-bottom.svg");
      left: 0;
      bottom: 0;
      width: 554px;
      height: 434px;
   }
}

.conteiner {
}

.spec {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px 51px 50px;
   text-align: center;

   &__suptitle {
   }

   &__title {
   }

   &__text {
      max-width: 538px;
      margin-bottom: 71px;
   }
}

.suptitle {
}

.title {
}

.text {
}

.spec-items {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 280px;
   column-gap: 102px;
}

.spec-item {
   max-width: 287px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 10px;
   color: #575445;
   cursor: pointer;

   &:hover {
      opacity: 0.8;
   }

   &__img {
   }

   &__title {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      font-family: "Roboto", sans-serif;
   }

   &__text {
      font-size: 14px;
      line-height: 20px;
   }
}

/* ===================================== */

.family-store-box {
   padding: 100px 0 100px;
}

.family-store {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;

   // .family-store__suptitle

   &__suptitle {
   }

   // .family-store__title

   &__title {
   }

   // .family-store__text

   &__text {
      max-width: 538px;
      margin-bottom: 21px;
   }
}

.suptitle {
}

.title {
}

.text {
}

.family-store-items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 16px;
}

.family-store-item {
   min-width: 379px;
   min-height: 473px;
   width: 100%;
   height: 100%;
   color: #575445;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   cursor: pointer;

   &:hover {
      opacity: 0.6;
   }

   // .family-store-item__title

   &__title {
      font-size: 28px;
      line-height: 34px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 9px;
      margin-top: 39px;
   }

   // .family-store-item__text

   &__text {
      margin-bottom: 20px;
   }

   // .family-store-item__info

   &__info {
      display: flex;
      gap: 4px;
      align-items: center;
   }

   // .family-store-item__info-text

   &__info-text {
   }

   // .family-store-item__img

   &__img {
   }
}

.family-store-item * {
   max-width: 252px;
}

.family-store-item:nth-child(1) {
   background: url("../images/store/image1.jpg") no-repeat 100% / cover;
}

.family-store-item:nth-child(2) {
   background: url("../images/store/image2.jpg") no-repeat 100% / cover;
}

.family-store-item:nth-child(3) {
   background: url("../images/store/image3.jpg") no-repeat 100% / cover;
}

.family-store-item:nth-child(4) {
   background: url("../images/store/image4.jpg") no-repeat 100% / cover;
}

.family-store-item:nth-child(5) {
   background: url("../images/store/image5.jpg") no-repeat 100% / cover;
}

.family-store-item:nth-child(6) {
   background: url("../images/store/image6.jpg") no-repeat 100% / cover;
}

.family-store-categories {
   display: flex;
   gap: 4px;
   align-items: center;
   grid-column: 1/-1;
   justify-content: center;
}

/* =========================================== */
.check-product__img {
   position: relative;
}

.check-product-box {
   // .check-product-box__panel

   &__panel {
      min-height: 50px;
      background-color: #292c32;
      border-radius: 16px;
      position: absolute;
      bottom: 40px;
      right: 40px;
      max-width: 626px;
      width: 100%;
      font-size: 12px;
      line-height: 12px;
      color: #fff;
      padding: 21px 22px 15px;
   }
}

.panel {
   // .panel__items

   &__items {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      min-height: 20px;
      height: 100%;
   }
}

.item-icon {
   align-self: flex-end;
}

.item-link {
   display: flex;
   gap: 8px;
   align-items: center;
   align-items: flex-start;
}

/* ========================================================================= */

.check-product__img {
   width: 100%;
   min-height: 600px;
   background-image: url("../images/ocean-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
}

.check-product {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: #fafafc;
   background-image: url(../images/check-product-bg.svg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 393px;
   justify-content: center;

   // .check-product__suptitle

   &__suptitle {
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
   }

   // .check-product__title

   &__title {
      color: #e6b939;
      font-size: 36px;
      line-height: 43px;
      font-family: "Roboto", sans-serif;
   }

   // .check-product__text

   &__text {
      font-size: 16px;
      line-height: 19px;
      margin: 7px 0 21px;
      max-width: 538px;
   }

   // .check-product__button

   &__button {
      padding: 10px 18px;
      background-color: #fff;
      border-radius: 6px;
      color: #575445;
      font-size: 15px;
      line-height: 22px;
   }
}

/* ======================================================== */

.guides-box {
   margin: 100px 0;
}

.conteiner {
}

.guides {
   // .guides__suptitle

   &__suptitle {
   }

   // .guides__title

   &__title {
   }

   // .guides__text

   &__text {
      max-width: 538px;
   }

   // .guides__item

   &__item:hover {
      opacity: 0.9;
   }
}

.suptitle {
}

.title {
}

.text {
}

.guides-items {
   margin-top: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: 450px;
   gap: 32px;

   // .guides-items__images

   &__images {
   }

   // .guides-items__img

   &__img {
   }

   // .guides-items__info-text

   &__info-text {
      margin: 18px 0 12px;
      font-size: 20px;
      line-height: 24px;
      color: #575445;
      max-width: 465px;
   }

   // .guides-items__autor

   &__autor {
      display: flex;
   }
}

.autor-img {
   margin-right: 12px;
}

.autor-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 510px;
   width: 100%;
}

.autor-name {
   display: flex;
   flex-direction: column;
   font-size: 13px;
   line-height: 18px;
   font-family: "Roboto", sans-serif;
}

.autor-name p:last-child {
   font-size: 11px;
   line-height: 15px;
   color: #e6b939;
}

.autor-data {
   font-size: 13px;
   line-height: 18px;
   color: #6f7278;
}
.guides-more {
   text-align: center;
}
/* ======================================================= */

.reading-box {
   margin: 200px 0 100px;
}

.reading {
   display: flex;
   align-items: center;
   gap: 104px;

   // .reading__images

   &__images {
      flex: 0 1 50%;
      position: relative;

      &:before {
         content: "";
         display: block;
         position: absolute;
         background-repeat: no-repeat;
         z-index: -1;
         background-image: url("../images/about/about-decor.svg");
         top: -115px;
         right: -325px;
         width: 470px;
         height: 423px;
      }
   }

   // .reading__img

   &__img {
   }

   // .reading__text

   &__text {
      flex: 0 1 50%;
      max-width: 384px;
   }

   // .reading__suptitle

   &__suptitle {
   }

   // .reading__title

   &__title {
      max-width: 295px;
   }

   // .reading__more-info

   &__more-info {
      margin-top: 20px;
   }
}
.suptitle {
}
.title {
}
.text {
}
/* ================================================ */

.footer-box {
   background: #575445;
}

.footer {
   text-align: center;

   padding: 100px 0 100px;
   color: #fff;
   // .footer__logo

   &__logo {
   }

   // .footer__columns

   &__columns {
      margin-top: 75px;
      display: grid;
      grid-template-columns: 220px 220px 220px 458px;
      text-align: left;
   }

   // .footer__column

   &__column {
   }

   // .footer__column-suptitle

   &__column-suptitle {
      color: #e6b939;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 9px;
   }

   // .footer__column-items

   &__column-items {
      display: flex;
      flex-direction: column;
      gap: 9px;
   }

   // .footer__column-item

   &__column-item {
      font-size: 14px;
      line-height: 20px;
   }

   // .footer__column-text

   &__column-text {
   }

   // .footer__form

   &__form {
   }

   // .footer__pr

   &__pr {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
   }

   // .footer__a

   &__a {
   }

   // .footer__social

   &__social {
      display: flex;
      gap: 20px;
   }
}
.conteiner {
}
.logo-img {
}
.social-in {
}
.footer__column:last-child {
   flex: 0 1 458px;
}

.footer__column-text {
   max-width: 438px;
   margin-bottom: 9px;
}
