$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-family: 'Inter', sans-serif;
  transition: background-color .3s, color .3s;
}

body {
  padding: 0 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.conteiner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}


.header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;

}

.menu {
  margin-right: 70px;
}

.menu-items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.menu-link {
  padding: 41px 20px;
  @include adaptiv-font(14, 12);
  line-height: 17px;
  text-transform: uppercase;
  transition: color .3s, background-color .3s;

  &:hover {
    background-color: #131313;
    color: white;
  }
}


.bike {
  margin-top: 97px;
  display: flex;
  justify-content: space-between;

}

.inner-text {
  line-height: 120%;

  & * {
    max-width: 420px;
  }
}

.bike-title {
  margin-top: 60px;
  font-weight: 700;
  @include adaptiv-font(64, 24);
  line-height: 77px;
  max-width: 539px;
}

.bike-sub-title {
  @include adaptiv-font(32, 14);
  line-height: 39px;
  color: #6F6F6F;
}


.bike-text {
  margin-top: 60px;
  @include adaptiv-font(14, 12);
}

.bike-text + .bike-text {
  margin-top: 20px;
}

.bike-btn {
  margin-top: 80px;
  display: block;

}

.btn {
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  padding: 28px 81px;
  background-color: #131313;
  color: white;
  border: none;
  @include adaptiv-font(20, 12);

  &:hover {
    background-color: #FF4040;
  }
}

//--------------------------------------slider
.inner-slider {

}


.bike-slider {
  max-width: 630px;
  margin-bottom: 35px;
}

.bike-slider-img {
  display: none;
}

.bike-slider-img_0 {
  display: block;
}


.slick-dots {
  position: absolute;
  top: 0;


}

.bike-slider .slick-dots {
  right: 0;
  top: 52px;
}

.slick-dots li + li {
  margin-top: 10px;
}

.slick-dots button {
  width: 2px;
  height: 25px;
  font-size: 0;
  border: none;
  background-color: #131313;
  cursor: pointer;
  border-radius: 7px;
  padding: 0;


}

.slick-active:hover button {

}

.slick-dots button:hover, .slick-active button {
  background-color: #FF4040;

}

.bike-list {
  text-align: center;
  display: flex;
  justify-content: space-around;

}

.bike-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 225px;
  min-height: 40px;
  gap: 5px;

}

.bike-list-item-num {
  font-weight: 700;
  @include adaptiv-font(14, 10);
  line-height: 17px;
  text-transform: uppercase;
}

.bike-list-item-text {
  text-transform: lowercase;
  margin: auto 0;
  @include adaptiv-font(12, 10);
}

//----------------------------slider


.spec-value_str {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
}

.spec-name_str {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}


.info-img-block {

}

.info {
  display: flex;
  gap: 60px;
  margin-top: 150px;
}

.info-img {

}

.info-text-block {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-text {
  font-size: 14px;
  line-height: 120%;

  &:first-child {
    margin-top: -15px;
  }
}

.info-sup-text {
  font-weight: 700;
  @include adaptiv-font(16,14);
  line-height: 19px;
  text-transform: uppercase;
}
.info-sub-text{
  @include adaptiv-font(14,12);
}
.info-sub-text span {
  display: block;
}

.info-sub-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 120%;
  max-width: 456px;
}


.gallery {
  margin: 150px 0 0 30px;

}

//---------------------Slider

//---------------------Slider

.order {
  margin-top: 55px;
  position: relative;
}

.order-form {
  max-width: 425px;
}

.order-form-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
}

.order-form-text-info {
  margin: 40px 0 30px 0;
}

.order-inp-name {
}

.order-inp-phone {
  margin-top: 15px;
}


.order-inp-text::placeholder {
  text-transform: lowercase;
}

.order-inp-text {
  border: none;
  padding: 10px;
  border-bottom: 1px solid #131313;
  width: 100%;
  outline: none;
}

.order-color-gray {
}

.order-color-white {
}

.order-color-red {
}

.order-btn {
  margin-top: 56px;

}


.order-images {
  width: 630px;
  z-index: 1;
}

.order-images .slick-dots {
  position: absolute;
  top: 1px;
  left: 1px;

}

.order-img {
}

.order-color {
  font-size: 14px;
  line-height: 120%;
  color: #6F6F6F;
  opacity: 0.5;
  margin: 20px 0 10px 0;
  display: block;
  text-transform: lowercase;

}

.order-price {
  position: absolute;
  top: 23px;
  left: 466px;
  font-size: 32px;
  line-height: 39px;
  border: 1px solid #FF4040;
  padding: 20px;
  border-radius: 50%;
  z-index: 3;

  &:before {
    content: "";
    display: block;
    border: 1px solid #FF4040;
    padding: 20px;
    border-radius: 50%;
    width: 224px;
    height: 81px;
    position: absolute;
    top: 10px;
    left: 0;


  }

}

.footer-block {
  background-color: #131313;

}

.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;

  color: #FFFFFF;
  margin-top: 100px;
  align-items: center;
}

.footer_polit {
}

.social {
  display: flex;
  gap: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.contact-rel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-text {
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}


.spec-full {
  display: flex;
  align-items: center;
  gap: 60px;
}

.spec-table {
  max-width: 570px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.spec-title {
  width: 570px;
  height: 22px;
  background-color: #131313;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 33px;
  padding-top: 3px;
}


ul.spec-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
}

.spec-name {
  max-width: 234px;
}

.spec-value {
}


.gallery .slick-dots {
  //position: absolute;
  //top: 0;
  //left: 1px;
}


.gallery-img {
  padding-left: 50px;
}


.form-label-box {
  display: flex;

}

.form__label + .form__label {
  margin-left: 23px;
}

.form__label {
}

.form__input__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: (0 0 0 0);
}

.form_bike {
  display: none;

}

.form-bike-img {
  position: absolute;
  right: 0;
  top: 0;
}

.form__bike-price {
  position: absolute;
  top: 52px;
  right: 498px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  transform: translateX(-20%);


  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 1px solid #FF4040;
    width: 221px;
    height: 100px;
    top: -35px;
    left: -28px;
  }

  &:after {
    content: "";
    position: absolute;
    border: 1px solid #FF4040;
    width: 221px;
    height: 100px;
    border-radius: 50%;
    top: -17px;
    left: -27px;
  }
}

.form__radio-style {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  display: block;
}

.form__radio-style-gray {
  background: #6F6F6F;
}

.form__radio-style-white {
  background: #fff;
  border: 1px solid #6F6F6F;
}

.form__radio-style-red {
  background: #FF4040;
}

.form__input__radio:checked + .form_bike {
  display: block;
}


@media (max-width: 1200px) {

}


@media (max-width: 1115px) {
  .bike {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .bike-title {
    margin-top: 41px;
  }
  .bike-btn {
    margin-top: 34px;
  }
  .bike-text {
    max-width: 630px;
    margin-top: 12px;
  }
  .inner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-slider {
    max-width: 100%;
  }


}


@media (max-width: 830px) {
  .menu-items {
    gap: 10px;
  }

  .menu {
    margin-right: 0;
  }

}

@media (max-width: 720px) {
  .header {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .bike {
    margin-top: 120px;
  }
  .header-logo {
    margin-bottom: 20px;
  }
  .menu-link {
    padding: 25px 15px;
  }

}


@media (max-width: 655px) {


  .bike-list {
    justify-content: center;
    gap: 20px;
  }
  .inner-slider {
    max-width: 100%;
  }
}


@media (max-width: 530px) {
  .bike-slider .slick-dots {
    top: 0;
  }
}

@media (max-width: 535px) {


}

@media (max-width: 500px) {
  .menu-items {
    gap: 5px;

  }
  .menu-link {
    padding: 25px 15px;

  }
  .bike-list-item {
    max-width: 225px;
  }

}
@media (max-width: 491px) {
  .bike-list-item {
    gap: 4px;
  }
  .bike-list-item-num {
    line-height: 12px;
  }
  .bike-text{
    max-width: 276px;
  }
  .bike-title {
    margin-top: 20px;
  }
  .bike-sub-title {
    line-height: 9px;
  }
  .bike-text {
    margin-top: 6px;
  }
  .bike-title {
    line-height: 57px;
  }
}


@media (max-width: 450px) {

  .menu-link {
    padding: 25px 8px;
  }
  .btn{
    padding: 15px 20px;
  }
}

