@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  object-fit: cover; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
* {
  font-family: 'Inter', sans-serif;
  transition: background-color .3s, color .3s; }

body {
  padding: 0 20px; }

a {
  color: inherit;
  text-decoration: none; }

.conteiner {
  max-width: 1220px;
  margin: 0 auto; }

.header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between; }

.menu {
  margin-right: 70px; }

.menu-items {
  display: flex;
  gap: 30px;
  justify-content: space-between; }

.menu-link {
  padding: 41px 20px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 17px;
  text-transform: uppercase;
  transition: color .3s, background-color .3s; }
  .menu-link:hover {
    background-color: #131313;
    color: white; }

.bike {
  margin-top: 97px;
  display: flex;
  justify-content: space-between; }

.inner-text {
  line-height: 120%; }
  .inner-text * {
    max-width: 420px; }

.bike-title {
  margin-top: 60px;
  font-weight: 700;
  font-size: calc(24px + 40 * ((100vw - 320px) / 1600));
  line-height: 77px;
  max-width: 539px; }

.bike-sub-title {
  font-size: calc(14px + 18 * ((100vw - 320px) / 1600));
  line-height: 39px;
  color: #6F6F6F; }

.bike-text {
  margin-top: 60px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600)); }

.bike-text + .bike-text {
  margin-top: 20px; }

.bike-btn {
  margin-top: 80px;
  display: block; }

.btn {
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  padding: 28px 81px;
  background-color: #131313;
  color: white;
  border: none;
  font-size: calc(12px + 8 * ((100vw - 320px) / 1600)); }
  .btn:hover {
    background-color: #FF4040; }

.bike-slider {
  max-width: 630px;
  margin-bottom: 35px; }

.bike-slider-img {
  display: none; }

.bike-slider-img_0 {
  display: block; }

.slick-dots {
  position: absolute;
  top: 0; }

.bike-slider .slick-dots {
  right: 0;
  top: 52px; }

.slick-dots li + li {
  margin-top: 10px; }

.slick-dots button {
  width: 2px;
  height: 25px;
  font-size: 0;
  border: none;
  background-color: #131313;
  cursor: pointer;
  border-radius: 7px;
  padding: 0; }

.slick-dots button:hover, .slick-active button {
  background-color: #FF4040; }

.bike-list {
  text-align: center;
  display: flex;
  justify-content: space-around; }

.bike-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 225px;
  min-height: 40px;
  gap: 5px; }

.bike-list-item-num {
  font-weight: 700;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  line-height: 17px;
  text-transform: uppercase; }

.bike-list-item-text {
  text-transform: lowercase;
  margin: auto 0;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1600)); }

.spec-value_str {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase; }

.spec-name_str {
  display: flex;
  justify-content: space-between;
  margin-top: 13px; }

.info {
  display: flex;
  gap: 60px;
  margin-top: 150px; }

.info-text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.info-text {
  font-size: 14px;
  line-height: 120%; }
  .info-text:first-child {
    margin-top: -15px; }

.info-sup-text {
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase; }

.info-sub-text span {
  display: block; }

.info-sub-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 120%;
  max-width: 456px; }

.gallery {
  margin: 150px 0 0 0; }

.order {
  margin-top: 55px;
  position: relative; }

.order-form-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px; }

.order-form-text-info {
  margin: 40px 0 30px 0;
  width: clamp(160px, 340px, 540px); }

.order-box label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.order-inp-phone {
  margin-top: 15px; }

.order-inp-text::placeholder {
  text-transform: lowercase; }

.order-inp-text {
  border: none;
  padding: 10px;
  border-bottom: 1px solid #131313;
  outline: none;
  width: clamp(160px, 340px, 540px); }

.order-btn {
  margin-top: 56px; }

.order-images {
  width: 630px;
  z-index: 1; }

.order-images .slick-dots {
  position: absolute;
  top: 1px;
  left: 1px; }

.order-color {
  font-size: 14px;
  line-height: 120%;
  color: #6F6F6F;
  opacity: 0.5;
  margin: 20px 0 10px 0;
  display: block;
  text-transform: lowercase; }

.order-price {
  position: absolute;
  top: 23px;
  left: 466px;
  font-size: 32px;
  line-height: 39px;
  border: 1px solid #FF4040;
  padding: 20px;
  border-radius: 50%;
  z-index: 3; }
  .order-price:before {
    content: "";
    display: block;
    border: 1px solid #FF4040;
    padding: 20px;
    border-radius: 50%;
    width: 224px;
    height: 81px;
    position: absolute;
    top: 10px;
    left: 0; }

.footer-block {
  background-color: #131313;
  width: 100%; }

.info-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.footer {
  height: 100px;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  margin-top: 100px;
  align-items: center; }

.social {
  display: flex;
  gap: 30px; }

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.contact-rel {
  display: flex;
  align-items: center;
  gap: 10px; }

.contact-text {
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase; }

.spec-full-block {
  margin-top: 90px; }

.spec-full {
  display: flex;
  align-items: center;
  gap: 60px; }

.spec-full-title {
  text-transform: uppercase;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600)); }

.spec-table {
  max-width: 570px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%; }

.spec-title {
  max-width: 570px;
  height: 22px;
  background-color: #131313;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 33px;
  padding-top: 3px; }

ul.spec-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px; }

.spec-name {
  flex-basis: 50%; }

.spec-value {
  flex-basis: 50%; }

.gallery-img {
  padding-left: 50px; }

.form-label-box {
  display: flex; }

.form__label + .form__label {
  margin-left: 23px; }

.form__input__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: 0 0 0 0; }

.form_bike {
  display: none; }

.order-box {
  position: relative;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600)); }

.form-bike-img {
  position: absolute;
  right: 1px;
  bottom: 1px; }

.form__bike-price {
  position: absolute;
  top: 52px;
  right: 498px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  transform: translateX(-20%); }
  .form__bike-price:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 1px solid #FF4040;
    width: 221px;
    height: 100px;
    top: -35px;
    left: -28px; }
  .form__bike-price:after {
    content: "";
    position: absolute;
    border: 1px solid #FF4040;
    width: 221px;
    height: 100px;
    border-radius: 50%;
    top: -17px;
    left: -27px; }

.form__radio-style {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  display: block; }

.form__radio-style-gray {
  background: #6F6F6F; }

.form__radio-style-white {
  background: #fff;
  border: 1px solid #6F6F6F; }

.form__radio-style-red {
  background: #FF4040; }

.form__input__radio:checked + .form_bike {
  display: block; }

@media (max-width: 1270px) {
  body {
    padding: 0; }

  .box {
    padding-left: 20px; } }
@media (max-width: 1230px) {
  .footer {
    font-size: calc(8px + 8 * ((100vw - 320px) / 1600)); }

  .form__bike-price {
    display: none; }

  .spec-full-img {
    object-fit: cover; } }
@media (max-width: 1115px) {
  .bike {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 20px; }

  .bike-title {
    margin-top: 41px; }

  .bike-btn {
    margin-top: 34px; }

  .bike-text {
    max-width: 630px;
    margin-top: 12px; }

  .inner-text {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .inner-slider {
    max-width: 100%; }

  .contact-text {
    font-size: clamp(6px, 9px, 10px); }

  .order-btn {
    margin-top: 350px; }

  .form-bike-img {
    position: absolute;
    left: 1px;
    top: 324px;
    max-width: 366px;
    object-fit: cover; }

  .order-form {
    display: flex;
    justify-content: center; }

  .footer {
    margin-top: 39px; } }
@media (max-width: 1080px) {
  .info-sup-text {
    padding-top: 15px; }

  .info-text:first-child {
    margin-top: -30px; }

  .info {
    gap: 30px;
    margin-top: 100px; }

  .info-sub-text {
    max-width: clamp(300px, 570px, 600px); }

  .spec-full-title {
    text-align: center; }

  .info-sup-text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1600)); }

  .info-sub-text {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1600)); }

  .spec-table {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1600)); }

  .spec-full {
    gap: 30px; } }
@media (max-width: 833px) {
  .info {
    gap: 30px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center; }

  .gallery-img {
    padding-left: 40px; } }
@media (max-width: 830px) {
  .menu-items {
    gap: 10px; }

  .menu {
    margin-right: 0; }

  .spec-full {
    flex-direction: column-reverse; } }
@media (max-width: 720px) {
  .header {
    gap: 20px;
    flex-direction: column;
    align-items: center; }

  .bike {
    margin-top: 120px; }

  .header-logo {
    margin-bottom: 20px; }

  .menu-link {
    padding: 25px 15px; }

  .gallery-img {
    padding-left: 30px; } }
@media (max-width: 655px) {
  .bike-list {
    justify-content: center;
    gap: 20px; }

  .inner-slider {
    max-width: 100%; }

  .social {
    gap: 7px;
    flex-direction: column; } }
@media (max-width: 600px) {
  .footer_polit {
    max-width: 130px; }

  .gallery-img {
    padding-left: 20px; } }
@media (max-width: 530px) {
  .bike-slider .slick-dots {
    top: 0; }

  .spec-name {
    max-width: 116px; } }
@media (max-width: 500px) {
  .menu-items {
    gap: 5px; }

  .menu-link {
    padding: 25px 15px; }

  .bike-list-item {
    max-width: 225px; }

  .gallery {
    margin: 71px 0 0 0; }

  .social {
    padding: 0 8px; }

  .gallery-img {
    padding-left: 10px; } }
@media (max-width: 491px) {
  .bike-list-item {
    gap: 4px; }

  .bike-list-item-num {
    line-height: 12px; }

  .bike-text {
    max-width: 276px; }

  .bike-title {
    margin-top: 20px; }

  .bike-sub-title {
    line-height: 9px; }

  .bike-text {
    margin-top: 6px; }

  .bike-title {
    line-height: 57px; }

  .gallery-img {
    padding-left: 21px; } }
@media (max-width: 450px) {
  .form-bike-img {
    top: 279px;
    max-width: 227px; }

  .menu-link {
    padding: 25px 8px; }

  .btn {
    padding: 15px 20px;
    margin-top: 200px; }

  .contact-rel {
    gap: 4px; } }
@media (max-width: 394px) {
  .order-box label {
    width: clamp(100px, 200px, 300px); }

  .order-inp-text {
    width: clamp(124px, 287px, 540px); }

  .form__label + .form__label {
    margin-left: 5px; }

  .order-form-text-info {
    width: clamp(160px, 175px, 540px); }

  .order-inp-text {
    width: clamp(100px, 260px, 340px); }

  .order-form {
    display: block; } }
@media (max-width: 356px) {
  .slick-dots li + li {
    margin-top: 1px; }

  .footer_polit {
    display: none; } }
.ord {
  display: grid;
  padding: 30px 30px;
  grid-template-columns: 1fr 2fr; }

.ord-title {
  font-weight: 700;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  line-height: 19px;
  text-transform: uppercase; }

.ord-text {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 120%; }

.ord-button {
  max-width: clamp(150px, 220px, 321px);
  background: #131313;
  border: 1px solid #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  width: 400px; }

/*# sourceMappingURL=style.css.map */
