/*
font-family: 'Fira Sans', sans-serif;
*/
.wrapper{
  color: #fff;
}
.header__slider {
   &-item {
      height: 100vh;
      background-image: url("../images/slider/slider-bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
   }
}
.slider-item__info{
position: absolute;
right: 80px;
bottom: 116px;
}

.header {
}
.header__slider {
}
.header__slider-item {
}
.slider-item {
}
.slider-item__info {
}
.suptitle-left {
}
.slider-item__info-subtitle {

}
.slider-item__info-title {
}
.slider-item__info-subtext {
}
.slider-item__info-text {
}
.slider-item__info-link {
}