*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

:root {
  --color-brand--1: #fcff45;
  --color-brand--2: #00bec4;

  --color-dark--1: rgba(10, 21, 29, 0.92);
  --color-dark--2: #3f464d;
  --color-light--1: rgb(170, 170, 170);
  --color-light--2: #e8e8e8;
  --color-light--3: rgb(220, 220, 220);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.wrapper {
  font-family: 'Roboto', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  display: flex;
  position: relative;
}

/* Основное */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* Боковая панель */
.sidebar {
  flex-basis: clamp(350px, 50vw, 700px);
  background-color: var(--color-dark--1);
  padding: 5rem 2rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon {
  height: 7.5rem;
  align-self: center;
  margin-bottom: 4rem;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: clamp(10px, 2.2vw, 15px);
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.75rem 1.5rem;
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}

.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: clamp(14px,1vw,18px);
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}
.workout-hint{
  background-color: var(--color-dark--2);
  padding: 50px;
  font-size: clamp(14px,1.1vw,26px);
  border-radius: 15px;
}
.hidden{
  display: none;
}
.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.footer__copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.footer__link:link,
.footer__link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}

.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
.notification{
  position: absolute;
  background-color: white;
  color: #0a151d;
  text-align: center;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 2px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: #4f4949 -2px 2px 11px;
  font-family: "Segoe UI" sans-serif;
  z-index: 99;
  left: 20%;
  right: 20%;
transform: translateX(-50%);


}
.workout{
  position: relative;
}
.delete-workout{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: clamp(12px,1vw,16px);
  outline: none;
  background: inherit;
  color: white;
  border: none;
  cursor: pointer;
}
.setting__icon {
  width: 40px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 99;
}
.icon-line {
  background-color: white;
  width: 80%;
  height: 2px;
}
.setting-item{
  cursor: pointer;
}
.setting-list{
  display: none;
}
.setting--active .setting-list {
  position: absolute;
  display: flex;
  background-color: var(--color-dark--2);
  right: 20%;
  top: 20px;
  left: 20px;
  bottom: 60%;
  border-bottom-right-radius: 2%;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px ;
  color: #e0ecf3;
  font-size: clamp(16px,5vw,28px);
  max-width: 678px;

}
.setting-maps span{
  display: inline-block;

}

@media screen and (max-width: 1352px){
  .workout {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: clamp(10px, 2.2vw, 15px);
    margin-bottom: 1.75rem;
    cursor: pointer;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.75rem 1.5rem;
  }

}
@media screen and (max-width: 990px) {
  .wrapper {
    flex-direction: column;
  }
  .footer{
    position: absolute;
    bottom: 0;
    height: 70px;
    background-color: var(--color-dark--1);
    right: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .setting--active .setting-list {
    bottom: 30%;
  }
  #map{
    border: 20px solid #0a151d;
    margin-bottom: 50px;
  }
  .sidebar {
    max-height: 50%;
  }
}
