.conteiner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

button {
  cursor: pointer; }

.header {
  padding-top: 32px;
  background: url("../sourse/images/header/header-bg.svg") no-repeat left top/cover;
  min-height: 783px; }

.header-box {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  align-items: center;
  color: #fff; }

.header-top {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  height: 100%;
  align-items: center;
  gap: 40px; }

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer; }

.header-logo__text {
  text-transform: none; }

.nav-items {
  display: flex;
  gap: 50px;
  align-items: center; }

.nav-item {
  transition: all .2s;
  opacity: 0.5;
  padding: 10px 0; }

.nav-item:hover {
  transform: scale(1.2);
  opacity: 0.8; }

.login-button {
  display: flex;
  gap: 44px;
  align-items: center; }

.sign-up__btn {
  color: #250F8A;
  padding: 8px 44px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  max-height: 40px;
  min-width: 143px;
  overflow: hidden; }

.header-text {
  max-width: 562px; }

.header-slider {
  min-width: 290px; }

.header-content {
  margin-top: 142px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 67px;
  width: 100%; }

.header-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px; }

.header-sub-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  margin-top: 10px;
  margin-bottom: 73px; }

.header-btn {
  background: #FFCA00;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #250F8A;
  cursor: pointer;
  padding: 13px 39px;
  transition: all .2s; }
  .header-btn:hover {
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(56, 52, 45, 0.65); }

.slick-dots {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 0;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center; }

.slick-dots button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: none;
  background-color: white;
  outline: none;
  padding: 0;
  cursor: pointer; }

.slick-dots .slick-active button {
  background-color: #ffffff;
  width: 35px;
  height: 13px;
  border-radius: 16px; }

.spec {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  margin-bottom: 100px; }

.spec-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  margin-top: 50px; }

.spec-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.spec-items {
  display: flex;
  gap: 100px;
  margin-top: 113px; }

.spec-item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.spec-item__title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px; }

.spec-item__text {
  font-weight: 400;
  font-size: 15px;
  max-width: 270px;
  margin-top: 13.75px; }

.expert {
  background-color: #F4F9FD; }

.expert-items {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 90px; }

.expert-item {
  display: flex;
  gap: 35px;
  align-items: center; }

.expert__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px; }

.expert__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
