//font-family: 'Roboto', sans-serif;
//font-family: 'Source Sans Pro', sans-serif;


.conteiner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.header {
  padding-top: 32px;
  background: url("../sourse/images/header/header-bg.svg") no-repeat left top  /cover;
  min-height: 783px;

}

.header-box {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  align-items: center;
  color: #fff;
}

.header-top {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  height: 100%;
  align-items: center;
  gap: 40px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.header-logo__img {
}

.header-logo__text {
  text-transform: none;
}

.header-nav {
}

.nav-items {
  display: flex;
  gap: 50px;
  align-items: center;

}

.nav-item {
  transition: all .2s;
  //padding: 0 10px;
  opacity: 0.5;
  padding: 10px 0;
}

.nav-item:hover {
  transform: scale(1.2);
  opacity: 0.8;

}

.login-button {
  display: flex;
  gap: 44px;
  align-items: center;

}

.login__btn {
}

.login-link {
}

.sign-up__btn {
  color: #250F8A;
  padding: 8px 44px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  max-height: 40px;
  min-width: 143px;
  overflow: hidden;
}

.header-text {
  max-width: 562px;

}

.header-slider {
  min-width: 290px;
}

.header-content {
  margin-top: 142px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 67px;
  width: 100%;
}

.header-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
}

.header-sub-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  margin-top: 10px;
  margin-bottom: 73px;
}

.header-btn {
  background: #FFCA00;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #250F8A;
  cursor: pointer;

  padding: 13px 39px;
  transition: all .2s;


  &:hover {
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(56, 52, 45, 0.65);
  }
}

.slick-dots {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 0;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.slick-dots button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 255, 255);
  outline: none;
  padding: 0;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #ffffff;
  width: 35px;
  height: 13px;
  border-radius: 16px;
}


//////////spec


.spec {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  margin-bottom: 100px;
}

.spec-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  margin-top: 50px;
}

.spec-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spec-items {
  display: flex;
  gap: 100px;
  margin-top: 113px;
}

.spec-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spec-item__img {
}

.spec-item__title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px;
}

.spec-item__text {
  font-weight: 400;
  font-size: 15px;
  max-width: 270px;
  margin-top: 13.75px;
}


/////expert

.expert {
  background-color: #F4F9FD;

}

.expert-block {

}

.expert-items {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 90px;
  padding-bottom: 50px;
}

.expert-item {
  display: flex;
  gap: 100px;
  align-items: center;
}

#expert__title_img-revert {
  transform: rotate(180deg);
  top: 0;
  left: -22px;
}


.expert-text-info {
  display: flex;
  flex-direction: column;
}

//.expert-items:nth-child() {
//  flex-direction: row-reverse;
//}

.expert-text-info span {
  margin-top: 40px;
  display: block;
}

.expert-item-revert {
  flex-direction: row-reverse;
}

.expert-item + .expert-item {
  margin-top: 100px;
}

.expert__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  max-width: 375px;
  position: relative;
}

.expert__title_img {
  position: absolute;
  top: -54px;
  left: -39px;
}

.expert__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 45px;
  max-width: 420px;
}

.expert-img {
}


//footer


.footer {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 519px;
  background: url("../sourse/images/footer/footer-bg.jpg") no-repeat top center / cover;
  color: #fff;
}

.footer-block {
  padding-top: 30px;
  text-align: center;
}

.footer-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  max-width: 383px;
  margin: 0 auto;
}

.footer-items {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

}

.footer-item {
  max-width: 300px;
  width: 100%;
  padding: 35px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  min-height: 261px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;


}

.footer-item__autor {
  display: flex;
  gap: 20px;
}

.autor-img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: none;

}

.autor_name span {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: block;
  text-align: left;
}

.autor_name span+span{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.5;
}
.text_autor{
  position: relative;
}
.text_autor:before {
  content: "“";
  display: block;
  position: absolute;
  font-size: 40px;
  line-height: 55px;
  top: -33px;
  left: 121px;
}



///polit
.polit{
  padding: 20px 0;
}
.polit-box {
  font-family: 'Source Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #272727;
  display: flex;
  justify-content: space-between;
}

.polit-link_items {
  display: flex;
  gap:20px;
}

.polit-link_item {
}

.link {
}

.polit-cert {
}




