* * {
  transition: all .3s;
}

a {
  text-decoration: none;
  color: inherit;
}


.wrapper {
  font-family: 'Ubuntu', sans-serif;

}

.mavic {
  min-height: 100vh;
  height: 100%;
  background: url("../images/mavic/bg.jpg") no-repeat center 100% /cover;
  color: #fff;


}

.header {
  display: flex;
  flex-direction: column;

}

.conteiner {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 15px;
}


.mavic-top {
  padding-top: 43px;
  font-size: 15px;
  line-height: 17px;
}

.mavic-head {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}

.mavic-logo-block {
  display: flex;
  gap: 11px;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.mavic-logo-image {
  object-fit: cover;
}

.mavic-logo-text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.mavic-nav {
}

.nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-list-item:hover {
  transform: scale(1.1);
}

.nav-link {
}

.mavic-buy {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mavic-buy__btn {
  padding: 7px 28px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;

}

.mavic-buy__btn:hover {
  background-color: #fff;
  color: black;
}

.mavic-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.mavic-center {
}

.mavic-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mavic-title {
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  text-align: center;
  margin-top: 100px;
}


.scroll_btn {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}


.mavic-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll_btn:hover a svg {
  opacity: 1;
  transform: scale(1.2);
}

.mavic-img {
}

.mavic-text {
  margin: 25.4px auto 35px;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
}

.mavic-bottom {
}
.social{
  display: flex;
}
.mavic-social {
  gap: 50px;
}

.social:hover {
  transform: scale(1.1);
}

.mavic-social-item:hover .mavic-social-link path {
  fill-opacity: 1;
}

.mavic-social-link {
}


.mavic-present {
  min-height: 110vh;
  height: 100%;
  background: url("../images/present/bg_2.jpg") no-repeat 100% / cover;
  color: #fff;
}


.mavic-present_text {
}

.present {
  display: flex;
  gap: 133px;
  padding-top: 155px;
  min-height: 700px;
  padding-right: 30px;
}

.present-text {
  max-width: 450px;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
}

.present_title {
  margin-bottom: 55px;

}
.title{
  font-weight: 400;
  font-size: 44px;
  line-height: 53px;
}
.present-text p + p {
  margin-top: 20px;
}

.present-slider {

  align-self: flex-end;
}

.present-slider {
  max-width: 560px;
  max-height: 280px;
  width: 100%;
  height: 100%;

}

.present-slider {
  position: relative;
  z-index: 2;

}

.present-slider:before {
  content: "";
  display: block;
  border: 4px solid #fff;
  max-width: 560px;
  max-height: 288px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -13px;
  right: -11px;
  z-index: -1;


}

.present-slider .slick-arrow {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
  right: 0;
  content: "";
}









//ADVANTAGES____________________________________________________


.mavic-advant {
}

.conteiner {
}

.advant {
}

.anvant-title {
}

.title {
}

.advant-items {
}

.advant-item {
}

.advant-item_number {
}

.advant-item_image {
}

.advant-item_img {
}

.advant-item_info {
}

.advant-title {
}

.advant-text {
}










.mavic-contact{
  background-color: rgba(0, 0, 0, 0.4);
}