$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a{
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}


.conteiner {
  max-width: 1230px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 15px;

}


.wrapper {
}

.present {
  position: relative;
  height: 100vh;

}


.present-slider {
  background-color: rgba(0, 0, 0, 0.47);
}

.present-slider .slick-dots {
  z-index: 99;
  position: absolute;
  display: flex;
  gap: 20px;

}

.slick-dots li {
  font-size: 1px;
  bottom: 13px;
  left: 0;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 0;
  cursor: pointer;
}

.slider-img {
}

.present_product {
  position: absolute;
  z-index: 12;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.29);
  height: 100%;
}

.slider-img {
  z-index: -1;
  object-fit: cover;

}

.product-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.product-nav_Logo {
}

.logo-img {
}

.product-nav_menu {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & div{
    width: 36px;
    height: 0;
    border: 2px solid #FFFFFF;
  }
}

.roadster {
  margin-top: 29px;
}

.roadster-title {
  font-size: 96px;
  line-height: 112px;
}

.roadster-text {
  margin-top: 40px;
  margin-bottom: 25px;
  max-width: 213px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;


}

.btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 30px 62px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: background-color .3s;
  color: #fff;

  &:hover {
    background-color: #770302;
    border-color: #690102;
  }
}


.roadster-btn {

}


.spec {
  background-color: #0B0B0B;
}


.spec {
  &_img_full {
    margin: 100px auto 100px;
  }


  &_img {
    object-fit: cover;
  }
}



.spec-items {
  padding-top: 105px;
  display: flex;
  justify-content: space-between;
}

.spec-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 193px;
  justify-content: space-between;
  // .spec-item__title
  &__title {
    font-size: 24px;
    line-height: 28px;

  }

  // .spec-item__num
  &__num {
    font-size: 24px;
    line-height: 28px;

    & span {
      font-size: 96px;
      line-height: 112px;
    }

    & sup {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }
  }

  // .spec-item__text
  &__text {
    font-size: 24px;
    line-height: 28px;


    /* Красный */

    color: #B70021;
  }
}

.spec-speed {
  display: flex;
  justify-content: space-between;
}

.speed-block {
}

.speed-title {
  font-size: 36px;
  line-height: 42px;
  color: #B70021;
}

.speed-text {
  margin-top: 101px;
  max-width: 192px;


}


.spec-advantage {
  display: flex;
  gap: 58px;
  margin: 100px 0 100px 0;
}

.advantage {
  // .advantage_list
  &_list {
  }

  // .advantage_title
  &_title {
    font-size: 36px;
    line-height: 42px;
    color: #B70021;
    margin-left: 100px;
  }

  // .advantage__image
  &__image {
  }

  // .advantage__img
  &__img {
  }
}

.advantage-block {
  display: flex;
  align-items: flex-end;

}

.advantage_list {
  align-self: center;
  font-size: 24px;
  line-height: 28px;
  // .advantage_list__item
  &__item {
  }
}



.spec-card-block {
  display: grid;
  grid-gap: 100px 74px;
  grid-template-columns: 1fr 1fr;
  padding-bottom:100px;
}

.spec-card {
  // .spec-card_image
  &_image {
    grid-column: 1/-1;
  }
}

.spec-card-img {
}

.spec {
  // .spec_card
  &_card {
    display: flex;
    gap: 75px;
    height: 300px;
  }

  // .spec_card-num
  &_card-num {
    color: #B70021;
  }

  // .spec_card_text
  &_card_text {
    max-width: 400px;
    padding-top: 30px;
  }
}

.footer{
  background-color: #690102;
}
.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_btn {
  margin: 83px  auto  83px;
  max-width: 319px;
}

.polit-list {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  gap: 7px;
  justify-content: center;
}

.polit-item + .polit-item{
  border-left: 1px solid white;
  padding-left: 7px;
}
