$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #0B0B0B;
}


.conteiner {
  max-width: 1230px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 15px;
}

.present {
  position: relative;
  height: 100vh;
}

.present_product {
  z-index: 5;
  position: absolute;
  background-color: rgba(11, 11, 11, 0.27);
  top: 0;
  bottom: -30px;
  left: 0;
  right: 0;


}

.present_nav {
  background-color: #0B0B0B;
  height: 100vh;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}


.present-nav-block {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;


}

.nav-close_btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;


  &:before,
  &:after {
    content: "";
    width:70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin: left;

  }

  &::before {
    transform: rotate(45deg);

  }

  &::after {
    transform: rotate(-45deg);
bottom: 0;
  }
}

.nav-list {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  padding: 5px;

}

.nav-item {
  border-bottom: 3px solid #B70021;
  transition: all .3s;

  &:hover {
    border-color: #fff;
    transform: scale(1.04);
    border-radius: 5px;
    margin-left: 21px;
  }
}

.nav__link {
  display: block;
  padding: 30px 25px 14px 0;
  min-width: 368px;

}


.present-slider .slick-dots {
  position: relative;
  margin: -55px auto 0;
  gap: 20px;
  max-width: 1200px;
  z-index: 9;

}

.present-slider .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.present-slider .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0B0B0B;
  font-size: 1px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.present-slider .slick-dots .slick-active button {
  background: #fff;
}

.slider-img {
}


.slider-img {
  z-index: -1;
  object-fit: cover;

}

.product-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.product-nav_Logo {
}

.logo-img {
}

.product-menu {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

  & div {
    width: 70%;
    height: 0;
    border: 1px solid #FFFFFF;
  }
}

.roadster {
  margin-top: 29px;
}

.roadster-title {
  font-size: 96px;
  line-height: 112px;
}

.roadster-text {
  margin-top: 40px;
  margin-bottom: 25px;
  max-width: 213px;
  @include adaptiv-font(24, 16);
  line-height: 28px;
  font-weight: 400;


}

.roadster-btn {

}

.btn {
  font-weight: 700;
  @include adaptiv-font(24, 16);
  line-height: 28px;
  padding: 30px 62px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: all .3s;
  color: #fff;

  &:hover {
    background-color: #770302;
    border-color: #690102;
  }
}


.spec {

}


.spec {
  &_img_full {
    margin: 100px auto 100px;
  }


  &_img {
    object-fit: cover;
  }
}


.spec-items {
  padding-top: 105px;
  display: flex;
  justify-content: space-between;
}

.spec-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 193px;
  justify-content: space-between;
  // .spec-item__title
  &__title {
    @include adaptiv-font(24, 16);
    line-height: 28px;

  }

  // .spec-item__num
  &__num {
    @include adaptiv-font(24, 14);
    line-height: 28px;

    & span {
      @include adaptiv-font(96, 32);
      line-height: 112px;
    }

    & sup {
      font-style: normal;
      font-weight: 400;
      @include adaptiv-font(24, 16);
      line-height: 28px;
    }
  }

  // .spec-item__text
  &__text {
    @include adaptiv-font(24, 16);
    line-height: 28px;


    /* Красный */

    color: #B70021;
  }
}

.spec-speed {
  display: flex;
  justify-content: space-between;
}

.speed-block {
  min-width: 50%;
  padding-right: 15px;
}

.speed-title {
  @include adaptiv-font(24, 16);
  line-height: 42px;
  color: #B70021;
  align-self: start;
}

.speed-text {
  margin-top: 101px;
  max-width: 192px;
  align-self: center;

}


.spec-advantage {
  display: flex;
  gap: 58px;
  margin: 100px 0 100px 0;
}

.advantage {
  // .advantage_list
  &_list {
  }

  // .advantage_title
  &_title {
    @include adaptiv-font(36, 10);
    line-height: 42px;
    color: #B70021;
    margin-left: 100px;
  }

  // .advantage__image
  &__image {
  }

  // .advantage__img
  &__img {
  }
}

.advantage-block {
  display: flex;
  align-items: flex-end;

}

.advantage_list {
  align-self: center;
  @include adaptiv-font(24, 10);
  line-height: 28px;
  // .advantage_list__item
  &__item {
  }
}


.spec-card-block {
  display: grid;
  grid-gap: 100px 74px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}

.spec-card {
  // .spec-card_image
  &_image {
    grid-column: 1/-1;
  }
}

.spec-card-img {
}

.spec {
  // .spec_card
  &_card {
    display: flex;
    gap: 75px;
    height: 300px;
  }

  // .spec_card-num
  &_card-num {
    color: #B70021;
  }

  // .spec_card_text
  &_card_text {
    max-width: 400px;
    padding-top: 30px;
  }
}

.footer {
  background-color: #690102;
  max-height: 300px;
  position: sticky;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_btn {
  margin: 83px auto 83px;
  max-width: 319px;
}

.polit-list {
  font-weight: 700;
  @include adaptiv-font(24, 16);
  line-height: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
}

.polit-item + .polit-item {
  border-left: 1px solid white;
  padding-left: 7px;
}

@media screen and (max-width: 1245px) {
  .present-slider .slick-dots {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }

}

@media screen and (max-width: 1160px) {
  .roadster-text {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 534px;
  }
  .roadster-title {
    line-height: 70px;
    font-size: 76px;
  }
  .present-slider .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 960px) {
  .spec-advantage {
    display: flex;
    gap: 30px;
    margin: 70px 0 70px 0;
  }
  .advantage_title {
    margin-left: 25px;
  }
}

@media screen and (max-width: 850px) {
  .btn {
    padding: 15px 25px;
  }
  .product-menu {
    width: 50px;
    height: 50px;

  }

  .speed-text {
    margin-top: 59px;
  }
}

@media screen and (max-width: 770px) {
  .btn {
    padding: 10px 25px;
  }
  .roadster-title {
    font-size: 56px;
  }
  .product-menu {
    width: 40px;
    height: 40px;

  }
  .roadster-text {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 534px;
  }
  .advantage_list {
    line-height: 18px;
  }
  .footer {
    max-height: 200px;

  }
  .footer_btn {
    margin: 40px auto 40px;
    max-width: 319px;
  }
}

@media screen and (max-width: 700px) {
  .product-nav {
    margin-top: 8px;
  }

}

@media screen and (max-width: 640px) {
  .roadster-title {
    line-height: 30px;
    font-size: 36px;
  }
  .product-nav_Logo {
    width: 150px;
    height: 40px;
  }
  .product-menu {
    width: 30px;
    height: 30px;
  }
  .speed-block {
    min-width: 40%;
  }

  .spec_card {

    gap: 20px;

  }
}

@media screen and (max-width: 557px) {
  .spec-advantage {
    gap: 10px;
  }
  .advantage_title {
    margin-left: 10px;
  }
  .spec-card-block {
    display: grid;
    grid-gap: 50px 74px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 530px) {
  .roadster {
    margin-top: 15px;
  }
  .btn {
    padding: 5px 10px;
  }
  .roadster-text {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 534px;
  }
  .spec-item__num span {
    line-height: 80px;
  }
  .spec-item {
    min-height: 130px;
  }
  .speed-text {
    margin-top: 20px;


  }
  .spec-card-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .spec-card-block .spec-card {


  }
  .spec_card {
    height: max-content;
  }
}

@media screen and (max-width: 460px) {
  .spec-speed {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .spec-advantage {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .advantage_title {
    margin-left: 100px;
  }
}

@media screen and (max-width: 440px) {
  .roadster-text {
    line-height: 20px;
    font-size: 13px;
  }
  .roadster-title {
    line-height: 20px;
    font-size: 18px;
  }
  .btn {
    font-size: 12px;
  }
  .present-slider .slick-dots li button {
    width: 5px;
    height: 5px;
  }
  .product-nav_Logo {
    width: 80px;
  }
  .product-menu {
    width: 20px;
    height: 20px;
  }
  .roadster {
    margin-top: 0;
  }
  .spec-items {
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
  }
  .spec_img_full {
    margin: 50px auto 50px;
  }

}

@media screen and (max-width: 360px) {
  .btn {
    padding: 0 15px;
  }
  .product-nav {
    margin-top: 3px;
  }
}
